.thanks {
    text-align: center;
    padding: 120px 20px;
    padding-bottom: 218px;

    &_title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    &_text {
        line-height: 1.8;
        margin-bottom: 40px;
        color: var(--white);
    }

    a {
        font-size: 16px;
    }
}